.root {
    main-color: rgb(237, 255, 242);       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
}


.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #737270;
    -fx-text-fill: #000000;
    -fx-border-width: 1px;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-font: 14px "Arial";
}


.button {
    -fx-background-color: mediumspringgreen;
    -fx-font: italic bold 12px "Arial";
    -fx-background-radius: 40;
}

.button:hover {
    -fx-background-color:cyan;
    -fx-font-size: 14px;
}

.button:pressed {
    -fx-background-color:orange;
    -fx-font-size: 14px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #BEBEBE;
    -fx-background-radius: 5;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

.app-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;
    -fx-alignment: center;
}
